.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: right;
}

.footer * {
    font-size: 12px;
    font-style: italic;
}